$stravorange: #ff8d3f;
$stravorange-light: #e8942e;
$stravorange-dark: #e85e2e;
$charcoal: #353c3f;
$charcoal-light: #444c57;
$charcoal-dark: #3c3f4d;
$sand: #d5d6d2;
$wood: #756867;

body {
	font-family: 'Lato';
}

.g-ml-minus-150 {
  margin-left: -10.14286rem;
}

@media (max-width: 480px) {
  .firstimage {
    background-image:url('/images/accueil2min2.jpg');
    height: calc(100vh);
    }
  .secondimage {
  	height: 140%;
  	background-image:url('/images/accueilmin.jpg');
  }
}

@media (min-width: 481px) {

  .firstimage {
    background-image:url('/images/accueil32.jpg');
    height: calc(100vh);
  }

  .secondimage {
  	height: 140%;
  	background-image:url('/images/accueil.jpg');
  }
}

/*------------------------------------
  Custom Colors
------------------------------------*/
/*------------------------------------
    Highlight Color
------------------------------------*/
::selection {
  color: #fff;
  background-color: $stravorange; }

.g-bg-stravorange ::selection {
  color: $stravorange;
  background-color: #fff; }

/*------------------------------------
   Orange Stravo
------------------------------------*/

/* Background Color Orange Stravo */
.g-bg-stravorange {
  background-color: $stravorange !important; }

.g-bg-stravorange-opacity-0_1 {
  background-color: rgba(255, 141, 63, 0.1) !important; }

.g-bg-stravorange-opacity-0_2 {
  background-color: rgba(255, 141, 63, 0.2) !important; }

.g-bg-stravorange--hover:hover {
  background-color: $stravorange !important; }

/* Color Orange Stravo */
.g-color-stravorange {
  color: $stravorange !important; }

.g-color-stravorange--hover:hover {
  color: $stravorange!important; }

.u-block-hover:hover .g-color-stravorange--hover, .g-color-stravorange--hover:hover {
  color: $stravorange !important; }

.g-parent:hover .g-color-stravorange--parent-hover {
  color: $stravorange !important; }

/* Border Color Orange Stravo */
.g-brd-stravorange {
  border-color: $stravorange !important; }

.g-brd-stravorange--hover:hover, .g-brd-stravorange--active.active {
  border-color: $stravorange !important; }

*:hover > .g-brd-stravorange--hover-parent {
  border-color: $stravorange !important; }

.g-brd-stravorange-top {
  border-top-color: $stravorange !important; }

.g-brd-stravorange-bottom {
  border-bottom-color: $stravorange !important; }

.g-brd-stravorange-left {
  border-left-color: $stravorange !important; }

.g-brd-stravorange-right {
  border-right-color: $stravorange !important; }

/* Button Stravo Orange */
.u-btn-stravorange {
  color: #fff;
  background-color: $stravorange; }

.u-btn-stravorange:hover, .u-btn-stravorange.active {
  border-color: $stravorange-light;
  background-color: $stravorange-light; }

.u-btn-stravorange:hover, .u-btn-stravorange:focus, .u-btn-stravorange.active {
  color: #fff; }

.u-btn-stravorange.g-btn-hover-reset:hover, .u-btn-stravorange.g-btn-hover-reset.active {
  background-color: $stravorange;
  border-color: $stravorange; }

.u-btn-stravorange.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v1-1::after, .u-btn-stravorange.u-btn-hover-v1-1:hover::after {
  background-color: $stravorange-dark; }

.u-btn-stravorange.u-btn-hover-v1-1:hover {
  background-color: $stravorange;
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v1-2::after, .u-btn-stravorange.u-btn-hover-v1-2:hover::after {
  background-color: $stravorange-dark; }

.u-btn-stravorange.u-btn-hover-v1-2:hover {
  background-color: $stravorange;
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v1-3::after, .u-btn-stravorange.u-btn-hover-v1-3:hover::after {
  background-color: $stravorange-dark; }

.u-btn-stravorange.u-btn-hover-v1-3:hover {
  background-color: $stravorange;
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v1-4::after, .u-btn-stravorange.u-btn-hover-v1-4:hover::after {
  background-color: $stravorange-dark; }

.u-btn-stravorange.u-btn-hover-v1-4:hover {
  background-color: $stravorange;
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v2-1::after, .u-btn-stravorange.u-btn-hover-v2-1:hover::after {
  background-color: $stravorange-dark; }

.u-btn-stravorange.u-btn-hover-v2-1:hover {
  background-color: $stravorange;
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-stravorange.u-btn-hover-v2-2::after, .u-btn-stravorange.u-btn-hover-v2-2:hover::after {
  background-color: $stravorange-dark; }

.u-btn-stravorange.u-btn-hover-v2-2:hover {
  background-color: $stravorange;
  overflow: hidden; }

/* Outline Button Stravo Orange */
.u-btn-outline-stravorange {
  color: $stravorange;
  border-color: $stravorange;
  background-color: transparent; }

.u-btn-outline-stravorange:focus, .u-btn-outline-stravorange.active {
  color: #fff;
  background-color: $stravorange; }

.u-btn-outline-stravorange:hover {
  color: #fff;
  background-color: $stravorange; }

.u-btn-outline-stravorange.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-stravorange.u-btn-hover-v1-1::after, .u-btn-outline-stravorange.u-btn-hover-v1-1:hover::after {
  background-color: $stravorange-dark; }

.u-btn-outline-stravorange.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-stravorange.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-stravorange.u-btn-hover-v1-2::after, .u-btn-outline-stravorange.u-btn-hover-v1-2:hover::after {
  background-color: $stravorange-dark; }

.u-btn-outline-stravorange.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-stravorange.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-stravorange.u-btn-hover-v1-3::after, .u-btn-outline-stravorange.u-btn-hover-v1-3:hover::after {
  background-color: $stravorange-dark; }

.u-btn-outline-stravorange.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-stravorange.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-stravorange.u-btn-hover-v1-4::after, .u-btn-outline-stravorange.u-btn-hover-v1-4:hover::after {
  background-color: $stravorange-dark; }

.u-btn-outline-stravorange.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-stravorange.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-stravorange.u-btn-hover-v2-1::after, .u-btn-outline-stravorange.u-btn-hover-v2-1:hover::after {
  background-color: $stravorange-dark; }

.u-btn-outline-stravorange.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-stravorange.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-stravorange.u-btn-hover-v2-2::after, .u-btn-outline-stravorange.u-btn-hover-v2-2:hover::after {
  background-color: $stravorange-dark; }

.u-btn-outline-stravorange.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/*------------------------------------
    Charcoal Stravo
------------------------------------*/
/* Background Color Charcoal Stravo */
.g-bg-charcoal {
  background-color: $charcoal; }

.g-bg-charcoal-opacity-0_1 {
  background-color: rgba(53, 60, 63, 0.1) !important; }

.g-bg-charcoal-opacity-0_2 {
  background-color: rgba(53, 60, 63, 0.2) !important; }

.g-bg-charcoal-opacity-0_8 {
  background-color: rgba(53, 60, 63, 0.8) !important; }

.g-bg-charcoal--hover:hover {
  background-color: $charcoal !important; }

/* Color Charcoal Stravo */
.g-color-charcoal {
  color: $charcoal; }

.g-color-charcoal--hover:hover {
  color: $charcoal!important; }

/* Border Color Charcoal Stravo */
.g-brd-charcoal {
  border-color: $charcoal !important; }

.g-brd-charcoal--hover:hover, .g-brd-charcoal--active.active {
  border-color: $charcoal !important; }

*:hover > .g-brd-charcoal--hover-parent {
  border-color: $charcoal !important; }

.g-brd-charcoal-top {
  border-top-color: $charcoal !important; }

.g-brd-charcoal-bottom {
  border-bottom-color: $charcoal !important; }

.g-brd-charcoal-left {
  border-left-color: $charcoal !important; }

.g-brd-charcoal-right {
  border-right-color: $charcoal !important; }

/* Button Stravo Charcoal */
.u-btn-charcoal {
  color: #fff;
  background-color: $charcoal; }

.u-btn-charcoal:hover, .u-btn-charcoal.active {
  border-color: $charcoal-light;
  background-color: $charcoal-light; }

.u-btn-charcoal:hover, .u-btn-charcoal:focus, .u-btn-charcoal.active {
  color: #fff; }

.u-btn-charcoal.g-btn-hover-reset:hover, .u-btn-charcoal.g-btn-hover-reset.active {
  background-color: $charcoal;
  border-color: $charcoal; }

.u-btn-charcoal.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v1-1::after, .u-btn-charcoal.u-btn-hover-v1-1:hover::after {
  background-color: $charcoal-dark; }

.u-btn-charcoal.u-btn-hover-v1-1:hover {
  background-color: $charcoal;
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v1-2::after, .u-btn-charcoal.u-btn-hover-v1-2:hover::after {
  background-color: $charcoal-dark; }

.u-btn-charcoal.u-btn-hover-v1-2:hover {
  background-color: $charcoal;
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v1-3::after, .u-btn-charcoal.u-btn-hover-v1-3:hover::after {
  background-color: $charcoal-dark; }

.u-btn-charcoal.u-btn-hover-v1-3:hover {
  background-color: $charcoal;
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v1-4::after, .u-btn-charcoal.u-btn-hover-v1-4:hover::after {
  background-color: $charcoal-dark; }

.u-btn-charcoal.u-btn-hover-v1-4:hover {
  background-color: $charcoal;
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v2-1::after, .u-btn-charcoal.u-btn-hover-v2-1:hover::after {
  background-color: $charcoal-dark; }

.u-btn-charcoal.u-btn-hover-v2-1:hover {
  background-color: $charcoal;
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-charcoal.u-btn-hover-v2-2::after, .u-btn-charcoal.u-btn-hover-v2-2:hover::after {
  background-color: $charcoal-dark; }

.u-btn-charcoal.u-btn-hover-v2-2:hover {
  background-color: $charcoal;
  overflow: hidden; }

/* Outline Button Stravo Charcoal */
.u-btn-outline-charcoal {
  color: $charcoal;
  border-color: $charcoal;
  background-color: transparent; }

.u-btn-outline-charcoal:focus, .u-btn-outline-charcoal.active {
  color: #fff;
  background-color: $charcoal; }

.u-btn-outline-charcoal:hover {
  color: #fff;
  background-color: $charcoal; }

.u-btn-outline-charcoal.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-charcoal.u-btn-hover-v1-1::after, .u-btn-outline-charcoal.u-btn-hover-v1-1:hover::after {
  background-color: $charcoal-dark; }

.u-btn-outline-charcoal.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-charcoal.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-charcoal.u-btn-hover-v1-2::after, .u-btn-outline-charcoal.u-btn-hover-v1-2:hover::after {
  background-color: $charcoal-dark; }

.u-btn-outline-charcoal.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-charcoal.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-charcoal.u-btn-hover-v1-3::after, .u-btn-outline-charcoal.u-btn-hover-v1-3:hover::after {
  background-color: $charcoal-dark; }

.u-btn-outline-charcoal.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-charcoal.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-charcoal.u-btn-hover-v1-4::after, .u-btn-outline-charcoal.u-btn-hover-v1-4:hover::after {
  background-color: $charcoal-dark; }

.u-btn-outline-charcoal.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-charcoal.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-charcoal.u-btn-hover-v2-1::after, .u-btn-outline-charcoal.u-btn-hover-v2-1:hover::after {
  background-color: $charcoal-dark; }

.u-btn-outline-charcoal.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-charcoal.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-charcoal.u-btn-hover-v2-2::after, .u-btn-outline-charcoal.u-btn-hover-v2-2:hover::after {
  background-color: $charcoal-dark; }

.u-btn-outline-charcoal.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/*------------------------------------
   Sand Stravo
------------------------------------*/

/* Background Color Sand Stravo */
.g-bg-sand {
  background-color: $sand !important; }

.g-bg-sand--hover:hover {
  background-color: $sand !important; }

/*------------------------------------
   Wood Stravo
------------------------------------*/

/* Background Color Wood Stravo */
.g-bg-wood {
  background-color: $wood !important; }

.g-bg-wood--hover:hover {
  background-color: $wood !important; }

.g-bg-wood-opacity-0_9 {
  background-color: rgba(117, 104, 103, 0.9) !important; }

.g-bg-wood-opacity-0_8 {
  background-color: rgba(117, 104, 103, 0.8) !important; }

/*------------------------------------
  Block show
------------------------------------*/
.g-show-xs-up {
  display: block !important; }

@media (max-width: 575px) {
  .g-show-xs-down {
    display: block !important; } }

@media (min-width: 576px) {
  .g-show-sm-up {
    display: block !important; } }

@media (max-width: 767px) {
  .g-show-sm-down {
    display: block !important; } }

@media (min-width: 768px) {
  .g-show-md-up {
    display: block !important; } }

@media (max-width: 991px) {
  .g-show-md-down {
    display: block !important; } }

@media (min-width: 992px) {
  .g-show-lg-up {
    display: block !important; } }

@media (max-width: 1199px) {
  .g-show-lg-down {
    display: block !important; } }

/*------------------------------------
  Heights
------------------------------------*/
@media (min-width: 576px) {
  .g-height-250--sm {
    height: 250px; }
}


.required {
    color: #C40000;
    margin-left: 5px;
    font-weight: bold;
}

@media (max-width: 575px) {
.bg-presta {
  background-image: 
    linear-gradient(to right,
      rgba(255, 255, 255, 0.9),      
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.8)
    ),
    url(/images/plan7.jpg);
    background-size: 100%;
}
}


@media (min-width: 576px) {
.bg-presta {
  background-image: 
    linear-gradient(to right,
      rgba(255, 255, 255, 1),      
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.6)
    ),
    url(/images/plan.jpg);
    background-size: cover;
}
}
/*------------------------------------
  Carousel arrows color
------------------------------------*/

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


@media (max-width: 575px) {
.isolation {
margin-left: 290px; 
margin-bottom: 0px;
}
}

@media (min-width: 576px) {
.isolation {
margin-left: 300px; 
margin-bottom: 0px;
}
}
/*------------------------------------
  Background text carousel
------------------------------------*/

.bg-white-opacity {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.05),  
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.05))
}

/*------------------------------------
  Scroll icon animated
------------------------------------*/
.scroll-downs {
  position: absolute;
  top: 90%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}



.downArrow{

}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
  color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #2ecc71;   
}

/*------------------------------------
  Anti-spam
------------------------------------*/

#fuckrobots{ display:none; }