<!-- Footer -->
<footer class="footer-gradient sticky g-bg-black-opacity-0_4 g-py-20">
  <div class="container">
    <div class="row">
 <!-- <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                  Read more
                  <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a> -->
        <!-- Footer Content -->
        <div class="col-12 g-px-6">
          <ul class="list-unstyled text-center mb-0">
          <%= image_tag("logo_stravo3.png", class: "img-fluid", alt: "Stravo artisan plâtrier à Strasbourg", style: 'height: 50%; width: 50%; max-width: 150px; margin-right: 8%;') %>
          <a class="u-icon-v3 u-icon-size--sm g-font-size-30 g-bg-white g-bg-stravorange--hover g-color-gray-dark-v4 rounded-circle" href="https://www.facebook.com/stravo.fr/" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="u-icon-v3 u-icon-size--sm g-font-size-30 g-bg-white g-bg-stravorange--hover g-color-gray-dark-v4 rounded-circle" href="#">
            <i class="far fa-envelope"></i>
          </a>
          </ul>
        </div>
        <!-- End Footer Content -->

        <!-- Footer Content -->
 <!--        <div class="col-4 d-flex align-items-center">
          <ul class="list-unstyled">
            <li class="list-inline-item g-mx-5">
              <a class="u-icon-v3 u-icon-size--sm g-font-size-default g-bg-white-opacity-0_1 g-bg-stravorange--hover g-color-white rounded-circle" href="https://www.facebook.com/lebukowskigrenoble/" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-5">
              <a class="u-icon-v3 u-icon-size--sm g-font-size-default g-bg-white-opacity-0_1 g-bg-stravorange--hover g-color-white rounded-circle" href="https://www.instagram.com/lebukowskigrenoble/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-5">
              <a class="u-icon-v3 u-icon-size--sm g-font-size-default g-bg-white-opacity-0_1 g-bg-stravorange--hover g-color-white rounded-circle" href="mailto:lebukowskigrenoble@gmail.com">
                <i class="far fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div> -->
        <!-- End Footer Content -->
      </div>

    <!-- Copyright -->
    <div class="row align-items-center">
      <div class="col-12 text-center g-mb-15 g-mb-0--md">
        <small class="g-font-size-10 mb-0">© 2019 All right reserved.
        </small>
      </div>
    </div>
    <!-- End Copyright -->
  </div>
</footer>
<!-- End Footer -->
