---
title: Stravo
---
<%= partial 'header-bis' %>
<section class="g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-center g-bg-img-hero" style="background-image:url('/images/accueil2.jpg'); height: calc(100vh);" data-calc-target="#js-header">
  <div class="container text-center g-color-charcoal g-py-20 g-mb-40 g-mt-100 g-z-index-1">
    <h2 class="h5 g-hidden-xs-up g-show-sm-up text-uppercase g-mb-40 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="200" data-animation-duration="1500" style="animation-duration: 1500ms;">Cloisons - Faux plafonds - Plâtre traditionnel - Staff</h2>
    <h1 class="d-inline-block g-brd-y g-brd-2 g-brd-charcoal g-font-weight-700 g-font-size-30 g-font-size-60--md text-uppercase g-line-height-1 g-py-15 g-mb-30 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500" style="animation-duration: 2000ms;"> Artisan plâtrier</h1>
    <h3 class="g-font-size-22 g-mb-40 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500" style="animation-duration: 2000ms;">
      Strasbourg, Eurométropole &amp; Bas-Rhin
    </h3>
    <div data-animation="fadeInUp" data-animation-delay="1100" data-animation-duration="1500" style="animation-duration: 1500ms;" class="fadeInUp u-in-viewport">
      <a class="btn btn-lg u-btn-outline-charcoal g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 mx-2 g-mb-10 g-px-25 g-py-15" href="/realisations.html">Nos réalisations</a>
      <a class="btn btn-lg u-btn-stravorange g-color-charcoal g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 mx-2 g-mb-10 g-px-25 g-py-15" href="/devis.html">Demandez un devis</a>
    </div>
         <!--  <div class="scroll-downs">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div> -->


  </div>

</section>
<div class="downArrow bounce text-center" style="margin-top: -50px; z-index: 10;">
  <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
</div>
<!-- End Home 100vh -->

<!-- Who are we ? -->
<section class="container g-py-100">
  <header class="text-center g-mb-60">
    <div class="u-heading-v2-3--bottom g-brd-stravorange g-mb-20">
      <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Qui sommes nous ?</h2>
    </div>
    <h3 class="lead g-color-charcoal g-font-size-18 g-px-200--lg"><span class="g-color-stravorange g-font-weight-300">Stravo</span> est une entreprise de plâtrerie, spécialisée dans la rénovation, créée en 2011, et située à Strasbourg. Elle est dirigée par Bruno Payet, plâtrier plaquiste expérimenté, diplômé et formé chez les Compagnons du Devoir.</h3>
  </header>
  <div class="row">
    <div class="col-lg-8 align-self-center g-mb-20 g-mb-0--lg">
      <div class="media g-mb-20">
        <div class="d-flex mr-4">
          <span class="u-icon-v3 g-rounded-50x g-bg-stravorange g-color-white">
            <i class="icon-graduation"></i>
          </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-font-weight-600 text-uppercase g-mb-5">Savoir-faire</h3>
          <p class="g-font-size-16">Un vrai savoir-faire qui s’appuie sur une formation solide et des expériences du métier variées, du <strong>plâtre traditionnel</strong> aux méthodes de travail modernes (<strong>plaques de plâtre</strong> et <strong>isolation</strong>).</p>
        </div>
      </div>
      <div class="media g-mb-20">
        <div class="d-flex mr-4">
          <span class="u-icon-v3 g-rounded-50x g-bg-stravorange g-color-white">
            <i class="icon-note g-ml-5"></i>
          </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-font-weight-600 text-uppercase g-mb-5">Expertise</h3>
          <p class="g-font-size-16">Ensemble, nous trouvons des solutions polyvalentes et innovantes en adéquation avec vos besoins et vos envies, tant dans le domaine de l’isolation, du cloisonnement, du réagencement, que dans celui de la rénovation ou décoration.</p>
        </div>
      </div>
      <div class="media g-mb-20">
        <div class="d-flex mr-4">
          <span class="u-icon-v3 g-rounded-50x g-bg-stravorange g-color-white">
            <i class="icon-directions"></i>
          </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-font-weight-600 text-uppercase g-mb-5">Conseil</h3>
          <p class="g-font-size-16">Soucieux de la qualité de notre service, nous veillons à fournir un travail soigné et de qualité, dans le respect des normes et de la législation.</p>
          <!-- <p>L'entreprise Stravo est également qualifiée RGE. Ce label certifie nos compétences en matière d’efficacité énergétique et permet aux particuliers de bénéficier des aides de l’Etat pour leurs économies d’énergie.</p> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid g-height-400 g-width-auto" src="/images/bruno-bis.jpg" alt="Image Description">
    </div>
  </div>
</section>
<!-- End Who are we ? -->

<!-- Carftsman presentation -->
<!-- <section class="wrapper g-bg-wood"> -->
<section class="wrapper g-bg-sand">
  <div class="container g-py-80 g-py-120--sm">
    <figure class="row">
      <!-- Image -->
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 text-center g-mb-10 g-mb-0--sm g-mt-0 g-mt-30--lg">
        <img class="g-width-40x g-width-60x--md g-rounded-50x" src="/images/DSC_24142.jpg" alt="Bruno Payet, Artisan Platrier">
      </div>
      <!-- End Image -->
      <!-- Presentation -->
      <div class="col-lg-8 g-py-25 g-mb-40">
        <div class="d-flex justify-content-between g-mb-20">
          <div class="g-mb-20">
            <!-- <h4 class="h4 g-color-white g-mb-5">Bruno Payet</h4> -->
            <h4 class="h4 g-color-charcoal g-mb-5">Bruno Payet</h4>
            <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-stravorange">Artisan plâtrier</em>
          </div>
          <!-- Social Icons -->
          <ul class="list-inline">
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.facebook.com/stravo.fr/">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fab fa-facebook-f"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular far fa-envelope"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover far fa-envelope"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Icons -->
        </div>
        <!-- Figure Info -->
        <div class="g-mb-10">
          <div style="text-align: justify;">
            <!-- <h3 class="g-color-white g-font-size-18 mb-3"> -->
            <h3 class="g-color-charcoal g-font-size-18 mb-3">
              <span class="g-color-stravorange g-font-weight-300">Stravo</span> est dirigée par Bruno Payet, plâtrier plaquiste expérimenté, diplômé et formé chez les Compagnons du Devoir.
            </h3>
            <!-- <h6 class="g-color-white g-font-size-18 mb-3">Un vrai savoir-faire qui s’appuie sur une formation solide et des expériences du métier variées, du <strong>plâtre traditionnel</strong> aux méthodes de travail modernes (<strong>plaques de plâtre</strong> et <strong>isolation</strong>).</h6> -->
            <h6 class="g-color-charcoal g-font-size-18 mb-3">Un vrai savoir-faire qui s’appuie sur une formation solide et des expériences du métier variées, du <strong>plâtre traditionnel</strong> aux méthodes de travail modernes (<strong>plaques de plâtre</strong> et <strong>isolation</strong>).</h6>
          </div>
<!--           <div class="text-right">
            <a class="btn btn-lg u-btn-outline-stravorange g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 g-mr-35 g-px-25 g-py-15" href="#">Nos réalisations</a>
          </div> -->
        </div>
        <!-- End Info -->
      <!-- End Presentation -->
    </figure>
  <!-- End Carftsman presentation -->
  </div>
</section>

  <%#
<!-- Figure 2 -->
<section class="wrapper">
  <div class="container g-py-80 g-py-150--sm">
    <figure class="row">
      <!-- Figure Body -->
      <div class="col-lg-8 g-py-25">
        <div class="d-flex justify-content-between g-mb-20">
          <div class="g-mb-20">
            <h4 class="h4 g-mb-5">Bruno Payet</h4>
            <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-stravorange">Artisan plâtrier</em>
          </div>
        </div>
        <!-- Figure Info -->
        <div class="g-mb-50">
          <div style="text-align: justify;">
            <h3 class="g-color-charcoal g-font-size-18 mb-3">
              <span class="g-color-stravorange g-font-weight-300">Stravo</span> est une entreprise de plâtrerie, spécialisée dans la rénovation, créée en 2011, et située à Strasbourg. Elle est dirigée par Bruno Payet, plâtrier plaquiste expérimenté, diplômé et formé chez les Compagnons du Devoir.
            </h3>
            <h6 class="g-color-charcoal g-font-size-18 mb-3">Un vrai savoir-faire qui s’appuie sur une formation solide et des expériences du métier variées, du <strong>plâtre traditionnel</strong> aux méthodes de travail modernes (<strong>plaques de plâtre</strong> et <strong>isolation</strong>).</h6>
          </div>
          <div class="text-right">
            <a class="btn btn-lg u-btn-outline-stravorange g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 g-mr-35 g-px-25 g-py-15" href="#">Nos réalisations</a>
          </div>
        </div>
        <!-- End Info -->
      </div>
      <!-- End Figure Body -->
      <!-- Figure Image -->
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
        <img class="w-100" src="/images/bruno-test.jpg" alt="Image Description">
      </div>
      <!-- End Figure Image -->
    </figure>
  </div>
</section>
<!-- End Figure 2 -->
%>

<!-- <div class="u-divider u-divider-solid u-divider-center g-brd-stravorange w-75 mx-auto g-my-60">
  <i class="u-divider__icon g-bg-stravorange g-color-white rounded-circle"></i>
</div> -->

<section class="g-pb-50" style="margin-top: -100px; z-index: 10;">
  <div class="container">
<!--     <div class="text-center g-mb-40 u-heading-v2-3--bottom g-brd-stravorange">
      <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Entreprise qualifiée RGE</h2>
    </div> -->
    <div class="row">
      <div class="col-lg-6">
        <!-- Article -->
        <div class="row justify-content-center g-mx-5--sm g-mb-30 g-mb-0--sm">
        <%# a ajouter en lien cliquable  https://www.qualibat.com/resultat-de-la-recherche/stravo-sas-161962/ %>
          <!-- Article Content -->
          <div class="col-sm-10 g-px-0--sm">
            <div class="g-overflow-hidden g-height-280 g-height-250--sm g-bg-gray-light-v5 g-bg-gray-light-gradient-v1--after u-shadow-v29 g-pa-30">
              <div class="row align-items-center g-mb-20">
                <div class="col-8">
                  <h3 class="h6 g-font-weight-600 text-uppercase">
                    <a class="u-link-v5 g-color-charcoal g-color-stravorange--hover" href="#!">La certification qualibat</a>
                  </h3>
                </div>
                <div class="col-4 text-right">
                  <img class="img-fluid g-height-60 g-rounded-3" src="/images/logo-qualibat.png" alt="Logo Qualibat">
                </div>
              </div>
              <p class="text-justify">Qualibat est un organisme indépendant qui octroie des certifications telles que le label RGE (Reconnu Garant de l'Environnement) à des entreprises et artisans du bâtiment.</p>
            </div>
          </div>
          <!-- End Article Content -->
        </div>
        <!-- End Article -->
      </div>
      <div class="col-lg-6">
        <!-- Article -->
        <%# a ajouter en lien cliquable  https://www.economie.gouv.fr/particuliers/aides-renovation-energetique %>
        <div class="row justify-content-center g-mx-5--sm">
          <!-- Article Content -->
          <div class="col-sm-10 g-px-0--sm">
            <div class="g-overflow-hidden g-height-280 g-height-250--sm g-bg-gray-light-v5 g-bg-gray-light-gradient-v1--after u-shadow-v29 g-pa-30">
              <div class="row align-items-center g-mb-20">
                <div class="col-8">
                  <h3 class="h6 g-font-weight-600 text-uppercase">
                    <a class="u-link-v5 g-color-charcoal g-color-stravorange--hover" href="#!">Le label RGE</a>
                  </h3>
                </div>
                <div class="col-4 text-right">
                  <img class="img-fluid g-height-60 g-rounded-3" src="/images/logo-rge-carre.jpg" alt="Logo RGE - Reconnu Garant Environnement">
                </div>
              </div>
              <p class="text-justify">Le label RGE, reconnu par l'État, est gage de qualité dans la réalisation de travaux d'économie d'énergie dans les logements. Il permet aux particuliers d'obtenir des aides publiques pour leurs travaux.</p>
            </div>
          </div>
          <!-- End Article Content -->
        </div>
        <!-- End Article -->
      </div>
    </div>
  </div>
</section>

<!--
<div class="u-divider u-divider-solid u-divider-center g-brd-stravorange w-75 mx-auto g-my-60">
  <i class="u-divider__icon g-bg-stravorange g-color-white rounded-circle"></i>
</div> -->
<!-- <div class="u-divider u-divider-solid g-brd-gray-light-v3 w-50 mx-auto g-my-80">
  <i class="fa fa-circle u-divider__icon g-bg-white g-color-gray-light-v3"></i>
</div>
 -->
<!-- Our work -->
<section class="g-pt-100 g-pb-50">
<div class="clearfix g-brd-bottom g-brd-gray-light-v4">
  <div class="text-center u-heading-v2-3--bottom g-brd-stravorange g-mb-40">
    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Quelques réalisations</h2>
  </div>
  <div class="row no-gutters">
    <div class="col-md-4 mb-0">
      <article class="text-center u-block-hover g-bg-gray-light-v5 g-bg-gray-dark-v2--hover g-transition-0_4">
        <figure>
          <img class="img-fluid w-100" src="/images/home-gallery-2.jpg" alt="Image Description">
        </figure>
        <h3 class="h6 text-uppercase g-font-weight-600 g-letter-spacing-2 g-color-white--hover g-pa-30-20 g-mb-0">
            <em class="d-block g-font-size-12 g-font-style-normal g-font-weight-300 g-color-stravorange--hover g-mb-10">Bischoffseim</em>
            Cloisons innovantes
          </h3>
        <a class="u-link-v2" href="/realisations.html#real1"></a>
      </article>
    </div>
    <div class="col-md-4 mb-0">
      <article class="text-center u-block-hover g-bg-gray-light-v5 g-bg-gray-dark-v2--hover g-transition-0_4">
        <figure>
          <img class="img-fluid w-100" src="/images/home-gallery-1.jpg" alt="Image Description">
        </figure>
        <h3 class="h6 text-uppercase g-font-weight-600 g-letter-spacing-2 g-color-white--hover g-brd-left g-brd-gray-light-v4 g-pa-30-20 g-mb-0">
            <em class="d-block g-font-size-12 g-font-style-normal g-font-weight-300 g-color-stravorange--hover g-mb-10">Eckbolseim</em>
            Plâtre traditionnel
          </h3>
        <a class="u-link-v2" href="/realisations.html#real2"></a>
      </article>
    </div>
    <div class="col-md-4 mb-0">
      <article class="text-center u-block-hover g-bg-gray-light-v5 g-bg-gray-dark-v2--hover g-transition-0_4">
        <figure>
          <img class="img-fluid w-100" src="/images/home-gallery-3.jpg" alt="Image Description">
        </figure>
        <h3 class="h6 text-uppercase g-font-weight-600 g-letter-spacing-2 g-color-white--hover g-brd-left g-brd-gray-light-v4 g-pa-30-20 g-mb-0">
            <em class="d-block g-font-size-12 g-font-style-normal g-font-weight-300 g-color-stravorange--hover g-mb-10">Petite France</em>
            Cloisonnement cubique
          </h3>
        <a class="u-link-v2" href="/realisations.html#real3"></a>
      </article>
    </div>
  </div>
</div>
</section>
<!-- End Our work  -->

<!-- <div class="u-divider u-divider-solid u-divider-right g-brd-gray-light-v3 w-50 mx-auto g-my-80">
  <i class="fa fa-circle u-divider__icon g-bg-white g-color-gray-light-v3"></i>
</div> -->

<!-- Team -->
<div class="container g-color-charcoal g-pt-100 g-pb-120">
  <div class="text-center u-heading-v2-3--bottom g-brd-stravorange g-mb-40">
    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Ce qu'ils en pensent</h2>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg-6 g-mb-30">
      <em class="g-color-gray-light-v5 g-font-size-120 g-pos-abs g-top-minus-40 g-left-minus-15 g-z-index-minus-1">
          &#8220;
        </em>
      <blockquote class="lead g-font-style-italic g-line-height-2 g-pl-30 g-mb-30">I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</blockquote>
      <h4 class="h5 g-mb-0">&#8212; Daniel Ramirez</h4>
      <span class="d-block g-color-gray-dark-v4">Designer</span>
    </div>
    <div class="col-lg-5">
      <img class="img-fluid w-100" src="/images/home-gallery-3.jpg" alt="Image Description">
      </iv>
    </div>
  </div>
  <hr class="g-brd-gray-light-v4 g-my-80">
  <div class="row justify-content-between">
    <div class="col-lg-5 g-mb-30">
      <img class="img-fluid w-100" src="/images/home-gallery-1.jpg" alt="Image Description">
    </div>
    <div class="col-lg-6">
      <em class="g-color-gray-light-v5 g-font-size-120 g-pos-abs g-top-minus-40 g-left-minus-15 g-z-index-minus-1">
          &#8220;
        </em>
      <blockquote class="lead g-font-style-italic g-line-height-2 g-pl-30 g-mb-30">I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</blockquote>
      <h4 class="h5 g-mb-0">&#8212; Mathilde Ray</h4>
      <span class="d-block g-color-gray-dark-v4">Developer</span>
    </div>
  </div>
</div>
<!-- End Team -->
