---
title: Stravo
img: <%image_tag 'accueil2.jpg'%>
---

<section class="g-flex-centered g-bg-pos-center g-bg-img-hero g-py-150" style="background-image:url('/images/accueil2.jpg'); height: calc(100vh);" data-calc-target="#js-header">
      <div class="container text-center g-z-index-1">
        <div class="g-mb-50 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="200" data-animation-duration="1500" style="animation-duration: 1500ms;">

        </div>
        <div class="g-mb-25 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500" style="animation-duration: 2000ms;">
          <h1 class="h1 d-inline-block g-brd-bottom g-brd-2 g-brd-black g-color-black g-font-weight-600 g-font-size-28 g-font-size-36--lg text-uppercase g-pb-5">Artisan plâtrier</h1>
        </div>
        <h3 class="g-color-black g-font-weight-400 g-font-size-14 g-font-size-20--md g-mb-40 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500" style="animation-duration: 2000ms;">
             sur Strasbourg, l'Eurométropole et le Bas-Rhin
          </h3>
        <div data-animation="fadeInUp" data-animation-delay="1100" data-animation-duration="1500" style="animation-duration: 1500ms;" class="fadeInUp u-in-viewport">
          <a class="btn btn-lg u-btn-outline-black g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 mx-2 g-px-25 g-py-15 g-mb-20" href="#">Nos réalisations</a>
          <a class="btn btn-lg u-btn-orange g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 mx-2 g-px-25 g-py-15 g-mb-20" href="#">Demandez un devis</a>
        </div>
      </div>
</section>


<div class="u-divider u-divider-center u-divider-linear-gradient u-divider-linear-gradient--gray-light-v3 w-50 mx-auto g-my-50">

</div>
<!-- About -->
    <section>

      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex align-items-lg-center flex-wrap g-mb-60 g-mb-0--lg ">
          <div class="col-md-5 col-lg-7">
                  <div class="g-brd-around--md g-brd-10 g-brd-white rounded">

            <img class="img-fluid rounded" src="/images/dratler3.jpg" alt="Image Description">
     </div>
          </div>
          <div class="col-md-7 col-lg-5 g-mt-minus-50--lg">
            <div class=" g-mt-0--md">
              <div class="g-mb-20">

                  <h1 class="g-color-black g-mr-15--md g-font-weight-400 g-font-size-20 g-font-size-28--lg g-line-height-1_2 mb-4" style="text-align: justify;"><strong>Stravo</strong> est une entreprise de plâtrerie, spécialisée dans la rénovation, créée en 2011 et située à Strasbourg. </h1>
<p class="g-color-black g-font-weight-400 g-font-size-20 g-mr-15--md g-font-size-28--lg g-line-height-1_2 mb-4" style="text-align: justify;">Elle est dirigée par <strong>Bruno Payet</strong>, plâtrier plaquiste expérimenté, diplômé et formé chez les Compagnons du Devoir. <br> Un vrai savoir-faire qui s’appuie sur une formation solide et des expériences du métier variées, du <strong>plâtre traditionnel</strong> aux méthodes de travail modernes (<strong>plaques de plâtre</strong> et <strong>isolation</strong>)</p>





              </div>
             <!--  <a class="btn u-btn-orange g-brd-2 g-brd-white g-font-size-16 g-font-weight-600 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                  En savoir +
                  <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3 g-mb-4">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a> -->
            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>

      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex justify-content-between align-items-lg-center flex-wrap g-mt-10 g-mt-minus-50--lg">
          <div class="col-md-7 order-md-2">
            <div class="g-brd-around--md g-brd-10 g-brd-white rounded">
              <img class="img-fluid w-100 rounded" src="/images/accueil7.jpg" alt="Image Description">
            </div>
          </div>
          <div class="col-md-5 col-lg-4 ml-auto order-md-1">
            <div class="g-mt-20 g-mt-0--md g-mt-minus-100--lg g-ml-minus-100--lg">


                 <p class="g-color-black g-font-weight-400 g-font-size-20 g-font-size-28--lg g-line-height-1_2 mb-4 g-ml-15--md" style="text-align: justify;">
                 Nous avons la capacité de vous proposer une large gamme de solutions polyvalentes, en adéquation avec vos besoins et vos envies, tant dans le domaine de <strong>l’isolation, du cloisonnement, du réagencement</strong>, que dans celui de la <strong>rénovation ou décoration</strong>.<br><br>

                 Et le goût de trouver des solutions innovantes !

                 </p>

            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>
    </section>
    <!-- End About -->
<div class="u-divider u-divider-center u-divider-linear-gradient u-divider-linear-gradient--gray-light-v3 w-50 mx-auto g-my-50">

</div>



<div class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options="{
      settings_mode_oneelement_max_offset: '150'
     }" style="height: 750px;">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url(images/accueil.jpg)"></div>

  <section class="g-flex-centered g-height-500 g-color-white u-bg-overlay g-bg-black-opacity-0_2--after g-py-20" style="height: 750px;">
    <div class="container u-bg-overlay__inner">
      <div class="row">
        <div class="col-6 align-self-center g-py-20">
          <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20">Nos engagements</h2>
 <p class="lead mb-0 g-line-height-2" style="text-align: justify;">
Nous sommes à l’écoute de vos besoins et réactifs. Avec une parfaite connaissance des techniques et matériaux les plus adaptés à chaque situation, nous saurons vous conseiller au mieux pour vos travaux et souhaits d’aménagements.
</p>

          <p class="lead mb-0 g-line-height-2" style="text-align: justify;">Soucieux de la qualité de notre service, nous veillons à fournir un travail soigné et de qualité, dans le respect des normes et de la législation.</p>
            <p class="lead mb-0 g-line-height-2" style="text-align: justify;">
          <strong>L'entreprise Stravo est également qualifiée RGE.</strong> Ce label certifie nos compétences en matière d’efficacité énergétique et permet aux particuliers de bénéficier des aides de l’Etat pour leurs économies d’énergie.</p>
         <div class="g-py-20">
         <%= image_tag 'qualibat1.jpg', :style=>"height: 120px;"%>
         </div>
<!--         <div class="col-md-6 align-self-center g-py-20">

        </div> -->
      </div>
    </div>
  </section>
</div>

      <!-- End Gallery #01 -->
