---
title: Stravo - Nos prestations
---
<%= partial 'header-bis-bis' %>
<!-- <div class = ""  style="background-image: url('/images/plan.jpg'); background-size: cover; opacity: 0.6;">
	--><div class = "" style ="background-image: 
    linear-gradient(to right,
      rgba(255, 255, 255, 1),      
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.6)
    ),
    url(/images/plan.jpg);
    background-size: cover;">
		<!--     <div class = "bg-presta"  style="background-image:
				linear-gradient(to right,
				rgba(255, 255, 255, 0.9),
				rgba(255, 255, 255, 0.95),
				rgba(255, 255, 255, 0.95),
				rgba(255, 255, 255, 0.2)
				),
				url(/images/plan1.jpg);
			background-size: cover;"> -->
			<!-- <div class="container g-pt-150 g-py-200">
					<div class ="row g-py-50">
							<div class="col-lg-7 g-py-50">
										<h2 class="h3 g-color-black text-uppercase mb-2">Cloisons</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
								</div>
								<p class="g-color-black lead mb-0" style="text-align: justify;">La cloison, séparative ou de distribution, est un élément essentiel de votre aménagement et de votre décoration d'intérieur.
										La cloison en plaques de plâtre, solution rapide et économique, s'adapte à vos contraintes
										<br />
										Techniques : chassis de porte, acoustique, thermique, hydrofuge, coupe-feu<br />
								Créatives : droite, courbe, simple muret, décorative grâce à une large gamme de produits techniques.</p>
						</div>
				-->
				<div class="container g-pt-140 g-pt-200--lg">
											<h1>NOS PRESTATIONS</h1>
							<p> sqdfkjsd qdlkgj qdlkgj qflkgj lkqdjfgqldfkgj fglqdkfgjq dfg
								ggqdfg qpkfgj qlkfgj qlfkgjq fglqkfjg lfgkjq dfglkqjfg lqkfjg
							</p>
					<div class="row">

						<div class ="col-lg-6 g-pr-10 g-pr-40--lg">
							
							<div class=" g-py-80">
								<h2 class="h3 g-color-black text-uppercase mb-2">Cloisons</h2>
								<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
								<p class="g-color-black lead mb-0" style="text-align: justify;">La cloison, séparative ou de distribution, est un élément essentiel de votre aménagement et de votre décoration d'intérieur.
									La cloison en plaques de plâtre, solution rapide et économique, s'adapte à vos contraintes
									<br />
									Techniques : chassis de porte, acoustique, thermique, hydrofuge, coupe-feu<br />
								Créatives : droite, courbe, simple muret, décorative grâce à une large gamme de produits techniques.</p>
							</div>
							<div class=" g-py-60">
								<h2 class="h3 g-color-black text-uppercase mb-2">Faux plafonds</h2>
								<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
								<div class="g-color-black lead mb-0" style="text-align: justify;">
									<p>Le faux plafond est une solution d'isolation, et d'intégration de gaines et de points lumineux. La plaque de plâtre apporte la possibilité d'une grande souplesse de création ( droit, incliné, courbe, éclairage indirect,spots encastrés, décaissés,...),tout en conservant ses capacités techniques (isolation thermique, phonique, coupe-feu..).</p>
									<p>
									Le faux plafond démontable offre une souplesse créative moindre, mais est particulièrement adapté aux locaux nécessitant un accés d' entretien aux gaines techniques. Il se décline aujourd'hui en une large gamme de produits techniques et esthetiques.</p>
								</div>
							</div>
							<div class="g-py-60">
								<h2 class="h3 g-color-black text-uppercase mb-2">Plâtre traditionnel</h2>
								<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2">
								</div>
								<div class="g-color-black lead mb-0" style="text-align: justify;">
									<p>Le plâtre est un produit de finition des murs et des plafonds.
									</p>
									Cette technique traditionnelle fait partie des savoir-faire oubliés, supplantée par la plaque de plâtre, plus économique et plus facile à mettre en oeuvre.
								Pourtant, le platre permet de s'adapter à tous types d'ouvrages et offre une qualité de finition inégalable (aspect uniforme et lisse).<br /> De plus, connu depuis longtemps pour ses propriétés hydrophiles, il joue le rôle de régulateur hygrométrique.</p>
							</div>
						</div>
						<div class="g-py-60">
							<h2 class="h3 g-color-black text-uppercase mb-2">Isolation</h2>
							<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
							<div class="g-color-black lead mb-0" style="text-align: justify;">
								<p>
									Isoler, c'est un moyen efficace d'optimiser le confort, de faire des économies et de valoriser votre bien, grâce à différents types d'isolants: phonique et/ou thermique, en polystirène, laine minérale ou naturelle...
								L'isolation peut se faire en doublage des murs existants, ou, si vous rajoutez des cloisons ou des faux plafonds, en y insérant à moindre frais un isolant.</p>
							</div>
						</div>
					</div>
					
					<!-- <div class="container g-pt-140 g-pt-200--lg">
								<h1>dsofgj sfgoj fgofdjg sofkgj fgofj</h1>
								<p> sqdfkjsd qdlkgj qdlkgj qflkgj lkqdjfgqldfkgj fglqdkfgjq dfg
											ggqdfg qpkfgj qlkfgj qlfkgjq fglqkfjg lfgkjq dfglkqjfg lqkfjg
								</p>
							<div class="col-lg-7 g-py-80">
										<h2 class="h3 g-color-black text-uppercase mb-2">Cloisons</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
										<p class="g-color-black lead mb-0" style="text-align: justify;">La cloison, séparative ou de distribution, est un élément essentiel de votre aménagement et de votre décoration d'intérieur.
												La cloison en plaques de plâtre, solution rapide et économique, s'adapte à vos contraintes
												<br />
												Techniques : chassis de porte, acoustique, thermique, hydrofuge, coupe-feu<br />
										Créatives : droite, courbe, simple muret, décorative grâce à une large gamme de produits techniques.</p>
								</div>
							<div class="col-lg-7 g-py-60">
										<h2 class="h3 g-color-black text-uppercase mb-2">Faux plafonds</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
										<div class="g-color-black lead mb-0" style="text-align: justify;">
												<p>Le faux plafond est une solution d'isolation, et d'intégration de gaines et de points lumineux. La plaque de platre apporte la possibilité d une grande souplesse de création ( droit, incliné, courbe, éclairage indirect,spots encastrés, décaissés,...),tout en conservant ses capacités techniques( isolation thermique, phonique, coupe-feu..).</p>
											<p>
											Le faux plafond démontable offre une souplesse créative moindre, mais est particulièrement adapté aux locaux nécessitant un accés d 'entretien aux gaines techniques. Il se décline aujourd' hui en une large gamme de produits techniques et esthetiques.</p>
										</div>
							</div>
							<div class="container">
									<div class="col-lg-7 g-py-60">
											<h2 class="h3 g-color-black text-uppercase mb-2">Plâtre traditionnel</h2>
												<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2">
												</div>
												<div class="g-color-black lead mb-0" style="text-align: justify;">
														<p>Le plâtre est un produit de finition des murs et des plafonds.
													</p>
													Cette technique traditionnelle fait partie des savoir-faire oubliés, supplantée par la plaque de plâtre, plus économique et plus facile à mettre en oeuvre.
											Pourtant, le platre permet de s'adapter à tous types d'ouvrages et offre une qualité de finition inégalable (aspect uniforme et lisse).<br /> De plus, connu depuis longtemps pour ses propriétés hydrophiles, il joue le rôle de régulateur hygrométrique.</p>
									</div>
								</div>
							<div class="col-lg-7 g-py-60">
									<h2 class="h3 g-color-black text-uppercase mb-2">Isolation</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
										<div class="g-color-black lead mb-0" style="text-align: justify;">
											<p>
													Isoler, c'est un moyen efficace d'optimiser le confort, de faire des économies et de valoriser votre bien, grâce à différents types d'isolants: phonique et/ou thermique, en polystirène, laine minérale ou naturelle...
											L'isolation peut se faire en doublage des murs existants, ou, si vous rajoutez des cloisons ou des faux plafonds, en y insérant à moindre frais un isolant.</p>
									</div>
							</div>
					</div>
				</div>#ff8d3f, #fc8d2a
				rgb(255,141,63, 0,1)
				rgb(251,141,42, 0,6)
				-->
				<!-- Blog Masonry Blocks -->
				<div class="col-lg-6 g-px-10 g-pl-40--lg">
					<div class="g-pt-80 g-pb-70">
						<div class="masonry-grid row g-mb-70">
							<div class="masonry-grid-sizer col-sm-1"></div>
															<!-- Article -->
								<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
									<article class="u-shadow-v11 g-bg-white g-pos-rel">
										<img class="img-fluid w-100" src="images/meinau1.jpg" alt="Image Description">
										
									</article>
								</div>
								<!-- End Article -->
							
							<div class="masonry-grid-item col-lg-6 g-mb-30">
								<!-- Article -->
								<!-- 							<article class="u-shadow-v11 g-bg-cover g-bg-size-cover g-bg-pos-top-center" style="background-image: linear-gradient(to bottom right,
									rgb(255,141,63, 0.9),
									rgb(251,141,42, 0.8));">
										<div class="g-pos-rel g-z-index-1 g-px-50 g-py-60">
												<div class="mb-5">
														<div class="g-width-20 g-height-1 g-bg-white-opacity-0_5 mb-4"></div>
														<span class="d-block g-color-white-opacity-0_9">Maria Woody</span>
														<h4 class="h4 g-color-white-opacity-0_9">Exclusive interview with InVision's CEO</h4>
												</div>
												<h2 class="g-color-white g-font-weight-700 g-font-size-45 text-capitalize mb-5">InVision</h2>
												<a class="btn btn-md u-btn-outline-white g-font-weight-600 text-uppercase g-rounded-25 g-px-25" href="#">Read more</a>
										</div>
								</article> -->
								
								<!-- End Article -->
								<!-- Article -->
								<article class="u-shadow-v11 g-bg-white g-pos-rel">
									<img class="img-fluid w-100" src="images/fenetre.jpg" alt="Image Description">
									
								</article>
								<!-- End Article -->
							</div>
							<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
								<!-- Article -->
								<article class="u-shadow-v11 g-bg-white g-pos-rel">
									<img class="img-fluid w-100" src="images/cloison.jpg" alt="Image Description">
									
								</article>
								<!-- End Article -->
							</div>
							<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
								<!-- Article -->
								<article class="u-shadow-v11 g-bg-white g-pos-rel">
									<img class="img-fluid w-100" src="images/neustadt_porte_chantier.jpg" alt="Image Description">
									
								</article>
								<!-- End Article -->
							</div>
							<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
								<!-- Article -->
								<article class="u-shadow-v11 g-bg-white g-pos-rel">
									<img class="img-fluid w-100" src="images/isolation1.jpg" alt="Image Description">
									
								</article>
								<!-- End Article -->
							</div>
							
							<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
								<article class="u-shadow-v11 g-bg-white g-pos-rel">
									<img class="img-fluid w-100" src="images/hublot.jpg" alt="Image Description">
									
								</article>
								
							</div>
							<div class="masonry-grid-item col-lg-6 g-mb-30">
								<!-- Article -->
								<article class="u-shadow-v11 g-bg-cover g-bg-size-cover g-bg-pos-top-center" style="background-image: linear-gradient(to bottom right,
									rgb(24,186,155, 1),
									rgb(24,186,155, 1));">
									<div class="g-pos-rel g-z-index-1 g-px-50 text-center g-py-60">
										<!-- 									<h2 class="g-color-white g-font-weight-700 g-font-size-45 text-capitalize mb-5">InVision</h2>
										-->									
										<a class="btn btn-md u-btn-outline-white g-font-weight-600 text-uppercase g-rounded-25 g-px-25" href="/realisations.html">Voir nos réalisations</a>
									</div>

								</article>
							</div>
								<!-- End Article -->
								<!-- Article -->
								<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
									<article class="u-shadow-v11 g-bg-white g-pos-rel">
										<img class="img-fluid w-100" src="images/faux-plafond1.jpg" alt="Image Description">
									</article>
								</div>
								<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
									<article class="u-shadow-v11 g-bg-white g-pos-rel">
										<img class="img-fluid w-100" src="images/dratler.jpg" alt="Image Description">
									</article>
								</div>
								<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
									<article class="u-shadow-v11 g-bg-white g-pos-rel">
										<img class="img-fluid w-100" src="images/neustadt_couloir_chantier.jpg" alt="Image Description">
									</article>
								</div>
								<div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
									<article class="u-shadow-v11 g-bg-white g-pos-rel">
										<img class="img-fluid w-100" src="images/centre.jpg" alt="Image Description">
									</article>
								</div>

							</div>
							
						</div>
					</div>
					<!-- End Blog Masonry Blocks -->
					<!-- 	<div class ="row d-flex g-py-50">
						<div class="col-lg-7">
								<div class="">
										<h2 class="h3 g-color-black text-uppercase mb-2">Cloisons</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
								</div>
								<p class="lead mb-0" style="text-align: justify;">La cloison, séparative ou de distribution, est un élément essentiel de votre aménagement et de votre décoration d'intérieur.
										La cloison en plaques de plâtre, solution rapide et économique, s'adapte à vos contraintes
										<br />
										Techniques : chassis de porte, acoustique, thermique, hydrofuge, coupe-feu<br />
								Créatives : droite, courbe, simple muret, décorative grâce à une large gamme de produits techniques.</p>
						</div>
						<div class="col-lg-5 g-mt-20 g-mt-0--lg">
								<img class="img-fluid" src="/images/plan.jpg" alt="Image Description">
						</div>
					</div>
					<hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-30">
					<div class ="row d-flex g-py-50">
						<div class="col-lg-5">
								<img class="img-fluid" src="/images/faux-plafond.jpg" alt="Image Description">
						</div>
						<div class="col-lg-7">
								<div class="">
										<h2 class="h3 g-color-black text-uppercase mb-2">Faux-plafonds</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
								</div>
								<p class="lead mb-0" style="text-align: justify;">La cloison, séparative ou de distribution, est un élément essentiel de votre aménagement et de votre décoration d'intérieur.
										La cloison en plaques de plâtre, solution rapide et économique, s'adapte à vos contraintes
										<br />
										Techniques : chassis de porte, acoustique, thermique, hydrofuge, coupe-feu<br />
								Créatives : droite, courbe, simple muret, décorative grâce à une large gamme de produits techniques.</p>
						</div>
					</div>
					<div class ="row d-flex g-py-50">
						<div class="col-lg-7">
								<div class="">
										<h2 class="h3 g-color-black text-uppercase mb-2">Plâtre traditionnel & Staff</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
								</div>
								<p class="lead mb-0" style="text-align: justify;">Le plâtre est un produit de finition des murs et des plafonds.<br />
										Cette technique traditionnelle fait partie des savoir-faire oubliés, supplantée par la plaque de plâtre, plus économique et plus facile à mettre en oeuvre.
								Pourtant, le platre permet de s'adapter à tous types d'ouvrages et offre une qualité de finition inégalable (aspect uniforme et lisse).<br /> De plus, connu depuis longtemps pour ses propriétés hydrophiles, il joue le rôle de régulateur hygrométrique.</p>
						</div>
						<div class="col-lg-5">
								<img class="img-fluid" src="/images/plan.jpg" alt="Image Description">
						</div>
					</div>
					<div class ="row d-flex g-py-50">
						<div class="col-lg-7">
								<div class="">
										<h2 class="h3 g-color-black text-uppercase mb-2">Isolation</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
								</div>
								<p class="lead mb-0" style="text-align: justify;">Isoler, c'est un moyen efficace d'optimiser le confort, de faire des économies et de valoriser votre bien, grâce à différents types d'isolants: phonique et/ou thermique, en polystirène, laine minérale ou naturelle...
								L'isolation peut se faire en doublage des murs existants, ou, si vous rajoutez des cloisons ou des faux plafonds, en y insérant à moindre frais un isolant.</p>
						</div>
						<div class="col-lg-5">
								<img class="img-fluid" src="/images/plan.jpg" alt="Image Description">
						</div>
					</div>
				</div>
				<div class ="g-py-35">
				</div> -->
			</div>
		</div>
	</div>
</div>
<!--
<div class = "g-py-35"  style="background-image:
	linear-gradient(to right,
	rgba(255, 255, 255, 0.8),
	rgba(255, 255, 255, 0.96),
	rgba(255, 255, 255, 0.9),
	rgba(255, 255, 255, 0.2)
	),
	url(/images/plan2.jpg);
	background-size: cover;">
	<div class="container g-pt-150 g-py-200">
				<div class ="row g-py-50">
							<div class="col-lg-7 g-py-50">
								<div class="">
										<h2 class="h3 g-color-black text-uppercase mb-2">Cloisons</h2>
										<div class="d-inline-block g-width-35 g-height-2 g-bg-stravorange mb-2"></div>
								</div>
								<p class="g-color-black lead mb-0" style="text-align: justify;">La cloison, séparative ou de distribution, est un élément essentiel de votre aménagement et de votre décoration d'intérieur.
										La cloison en plaques de plâtre, solution rapide et économique, s'adapte à vos contraintes
										<br />
										Techniques : chassis de porte, acoustique, thermique, hydrofuge, coupe-feu<br />
								Créatives : droite, courbe, simple muret, décorative grâce à une large gamme de produits techniques.</p>
						</div>
				</div>
	</div> -->
</div>
</div>